body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1059px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1060px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u3133 {
  position:absolute;
  left:0px;
  top:146px;
  width:1060px;
  height:40px;
}
#u3134 {
  position:absolute;
  left:2px;
  top:12px;
  width:1056px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3135 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3136 {
  position:absolute;
  left:412px;
  top:146px;
  width:57px;
  height:40px;
}
#u3137 {
  position:absolute;
  left:0px;
  top:12px;
  width:57px;
  white-space:nowrap;
}
#u3138 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:124px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  text-align:left;
}
#u3139 {
  position:absolute;
  left:381px;
  top:188px;
  width:105px;
  height:124px;
  text-align:left;
}
#u3140 {
  position:absolute;
  left:5px;
  top:54px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:center;
}
#u3141 {
  position:absolute;
  left:381px;
  top:282px;
  width:105px;
  height:30px;
  color:#666666;
  text-align:center;
}
#u3141_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:center;
}
#u3141.mouseOver {
}
#u3142 {
  position:absolute;
  left:0px;
  top:7px;
  width:105px;
  word-wrap:break-word;
}
#u3143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:center;
}
#u3143 {
  position:absolute;
  left:381px;
  top:252px;
  width:105px;
  height:30px;
  color:#666666;
  text-align:center;
}
#u3143_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:center;
}
#u3143.mouseOver {
}
#u3144 {
  position:absolute;
  left:0px;
  top:7px;
  width:105px;
  word-wrap:break-word;
}
#u3145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:center;
}
#u3145 {
  position:absolute;
  left:381px;
  top:222px;
  width:105px;
  height:30px;
  color:#666666;
  text-align:center;
}
#u3145_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:center;
}
#u3145.mouseOver {
}
#u3146 {
  position:absolute;
  left:0px;
  top:7px;
  width:105px;
  word-wrap:break-word;
}
#u3147_img {
  position:absolute;
  left:-3px;
  top:-4px;
  width:16px;
  height:12px;
}
#u3147 {
  position:absolute;
  left:428px;
  top:182px;
  width:10px;
  height:6px;
}
#u3148 {
  position:absolute;
  left:2px;
  top:-5px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:center;
}
#u3149 {
  position:absolute;
  left:381px;
  top:192px;
  width:105px;
  height:30px;
  color:#666666;
  text-align:center;
}
#u3149_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:center;
}
#u3149.mouseOver {
}
#u3150 {
  position:absolute;
  left:0px;
  top:7px;
  width:105px;
  word-wrap:break-word;
}
#u3151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3151 {
  position:absolute;
  left:27px;
  top:158px;
  width:29px;
  height:16px;
}
#u3152 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3153_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3153 {
  position:absolute;
  left:97px;
  top:158px;
  width:57px;
  height:16px;
}
#u3154 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3155_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3155 {
  position:absolute;
  left:527px;
  top:158px;
  width:43px;
  height:16px;
}
#u3156 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u3158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1060px;
  height:109px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u3158 {
  position:absolute;
  left:0px;
  top:31px;
  width:1060px;
  height:109px;
  color:#999999;
}
#u3159 {
  position:absolute;
  left:2px;
  top:46px;
  width:1056px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:71px;
}
#u3160 {
  position:absolute;
  left:101px;
  top:50px;
  width:68px;
  height:71px;
}
#u3161 {
  position:absolute;
  left:2px;
  top:28px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3162 {
  position:absolute;
  left:190px;
  top:72px;
  width:65px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3163 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u3164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:65px;
}
#u3164 {
  position:absolute;
  left:620px;
  top:51px;
  width:400px;
  height:65px;
}
#u3165 {
  position:absolute;
  left:2px;
  top:24px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1060px;
  height:30px;
  background:inherit;
  background-color:rgba(244, 246, 252, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3166 {
  position:absolute;
  left:0px;
  top:2px;
  width:1060px;
  height:30px;
}
#u3167 {
  position:absolute;
  left:2px;
  top:7px;
  width:1056px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3168 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3169_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u3169 {
  position:absolute;
  left:770px;
  top:9px;
  width:66px;
  height:16px;
  color:#000000;
}
#u3170 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u3171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u3171 {
  position:absolute;
  left:846px;
  top:10px;
  width:29px;
  height:16px;
  font-size:14px;
  color:#000000;
}
#u3172 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3173 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3174_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:32px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3174 {
  position:absolute;
  left:870px;
  top:32px;
  width:126px;
  height:32px;
}
#u3175 {
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3176_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3176 {
  position:absolute;
  left:870px;
  top:33px;
  width:126px;
  height:31px;
}
#u3177 {
  position:absolute;
  left:2px;
  top:8px;
  width:122px;
  word-wrap:break-word;
}
#u3178_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3178 {
  position:absolute;
  left:904px;
  top:10px;
  width:57px;
  height:22px;
}
#u3179 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3180_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3180 {
  position:absolute;
  left:380px;
  top:74px;
  width:240px;
  height:27px;
}
#u3181 {
  position:absolute;
  left:2px;
  top:6px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3182 {
  position:absolute;
  left:385px;
  top:75px;
  width:230px;
  height:25px;
}
#u3182_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u3183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u3183 {
  position:absolute;
  left:593px;
  top:77px;
  width:22px;
  height:22px;
}
#u3184 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:72px;
}
#u3185 {
  position:absolute;
  left:56px;
  top:49px;
  width:124px;
  height:72px;
}
#u3186 {
  position:absolute;
  left:2px;
  top:28px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3187_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3187 {
  position:absolute;
  left:981px;
  top:10px;
  width:71px;
  height:22px;
}
#u3188 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u3189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:137px;
}
#u3189 {
  position:absolute;
  left:922px;
  top:32px;
  width:138px;
  height:137px;
}
#u3190 {
  position:absolute;
  left:2px;
  top:60px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3191_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3191 {
  position:absolute;
  left:197px;
  top:158px;
  width:57px;
  height:16px;
}
#u3192 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3193 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3194_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3194 {
  position:absolute;
  left:307px;
  top:146px;
  width:57px;
  height:40px;
}
#u3195 {
  position:absolute;
  left:0px;
  top:12px;
  width:57px;
  white-space:nowrap;
}
#u3196 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3198_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1060px;
  height:109px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u3198 {
  position:absolute;
  left:-1px;
  top:1141px;
  width:1060px;
  height:109px;
  color:#999999;
}
#u3199 {
  position:absolute;
  left:2px;
  top:30px;
  width:1056px;
  word-wrap:break-word;
}
#u3200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1060px;
  height:129px;
}
#u3200 {
  position:absolute;
  left:-1px;
  top:820px;
  width:1060px;
  height:129px;
}
#u3201 {
  position:absolute;
  left:2px;
  top:56px;
  width:1056px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3200_ann {
  position:absolute;
  left:1052px;
  top:816px;
  width:1px;
  height:1px;
}
#u3202_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1060px;
  height:183px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3202 {
  position:absolute;
  left:-1px;
  top:954px;
  width:1060px;
  height:183px;
}
#u3203 {
  position:absolute;
  left:2px;
  top:84px;
  width:1056px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3202_ann {
  position:absolute;
  left:1052px;
  top:950px;
  width:1px;
  height:1px;
}
#u3204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:167px;
}
#u3204 {
  position:absolute;
  left:299px;
  top:962px;
  width:1px;
  height:166px;
}
#u3205 {
  position:absolute;
  left:2px;
  top:75px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:137px;
}
#u3206 {
  position:absolute;
  left:799px;
  top:988px;
  width:138px;
  height:137px;
}
#u3207 {
  position:absolute;
  left:2px;
  top:60px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3208_div {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:158px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:24px;
}
#u3208 {
  position:absolute;
  left:97px;
  top:954px;
  width:192px;
  height:158px;
  text-align:left;
  line-height:24px;
}
#u3209 {
  position:absolute;
  left:12px;
  top:12px;
  width:178px;
  word-wrap:break-word;
}
#u3210_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:158px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:24px;
}
#u3210 {
  position:absolute;
  left:335px;
  top:954px;
  width:191px;
  height:158px;
  text-align:left;
  line-height:24px;
}
#u3211 {
  position:absolute;
  left:12px;
  top:12px;
  width:177px;
  word-wrap:break-word;
}
#u3212_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3212 {
  position:absolute;
  left:805px;
  top:967px;
  width:121px;
  height:16px;
}
#u3213 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u3214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:167px;
}
#u3214 {
  position:absolute;
  left:727px;
  top:962px;
  width:1px;
  height:166px;
}
#u3215 {
  position:absolute;
  left:2px;
  top:75px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:167px;
}
#u3216 {
  position:absolute;
  left:500px;
  top:962px;
  width:1px;
  height:166px;
}
#u3217 {
  position:absolute;
  left:2px;
  top:75px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3218_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:158px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:24px;
}
#u3218 {
  position:absolute;
  left:535px;
  top:954px;
  width:191px;
  height:158px;
  text-align:left;
  line-height:24px;
}
#u3219 {
  position:absolute;
  left:12px;
  top:12px;
  width:177px;
  word-wrap:break-word;
}
#u3220 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3221_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1059px;
  height:573px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u3221 {
  position:absolute;
  left:0px;
  top:217px;
  width:1059px;
  height:573px;
}
#u3222 {
  position:absolute;
  left:2px;
  top:278px;
  width:1055px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3223_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:33px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:16px;
  color:#FFFFFF;
}
#u3223 {
  position:absolute;
  left:0px;
  top:192px;
  width:76px;
  height:33px;
  opacity:0.66;
  font-size:16px;
  color:#FFFFFF;
}
#u3224 {
  position:absolute;
  left:3px;
  top:6px;
  width:65px;
  white-space:nowrap;
}
#u3225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1059px;
  height:260px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3225 {
  position:absolute;
  left:0px;
  top:240px;
  width:1059px;
  height:260px;
}
#u3226 {
  position:absolute;
  left:2px;
  top:122px;
  width:1055px;
  word-wrap:break-word;
}
