body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1059px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3796_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1060px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u3796 {
  position:absolute;
  left:0px;
  top:146px;
  width:1060px;
  height:40px;
}
#u3797 {
  position:absolute;
  left:2px;
  top:12px;
  width:1056px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3798 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3799_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3799 {
  position:absolute;
  left:412px;
  top:146px;
  width:57px;
  height:40px;
}
#u3800 {
  position:absolute;
  left:0px;
  top:12px;
  width:57px;
  white-space:nowrap;
}
#u3801 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3802_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:124px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  text-align:left;
}
#u3802 {
  position:absolute;
  left:381px;
  top:188px;
  width:105px;
  height:124px;
  text-align:left;
}
#u3803 {
  position:absolute;
  left:5px;
  top:54px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3804_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:center;
}
#u3804 {
  position:absolute;
  left:381px;
  top:282px;
  width:105px;
  height:30px;
  color:#666666;
  text-align:center;
}
#u3804_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:center;
}
#u3804.mouseOver {
}
#u3805 {
  position:absolute;
  left:0px;
  top:7px;
  width:105px;
  word-wrap:break-word;
}
#u3806_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:center;
}
#u3806 {
  position:absolute;
  left:381px;
  top:252px;
  width:105px;
  height:30px;
  color:#666666;
  text-align:center;
}
#u3806_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:center;
}
#u3806.mouseOver {
}
#u3807 {
  position:absolute;
  left:0px;
  top:7px;
  width:105px;
  word-wrap:break-word;
}
#u3808_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:center;
}
#u3808 {
  position:absolute;
  left:381px;
  top:222px;
  width:105px;
  height:30px;
  color:#666666;
  text-align:center;
}
#u3808_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:center;
}
#u3808.mouseOver {
}
#u3809 {
  position:absolute;
  left:0px;
  top:7px;
  width:105px;
  word-wrap:break-word;
}
#u3810_img {
  position:absolute;
  left:-3px;
  top:-4px;
  width:16px;
  height:12px;
}
#u3810 {
  position:absolute;
  left:428px;
  top:182px;
  width:10px;
  height:6px;
}
#u3811 {
  position:absolute;
  left:2px;
  top:-5px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3812_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:center;
}
#u3812 {
  position:absolute;
  left:381px;
  top:192px;
  width:105px;
  height:30px;
  color:#666666;
  text-align:center;
}
#u3812_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:center;
}
#u3812.mouseOver {
}
#u3813 {
  position:absolute;
  left:0px;
  top:7px;
  width:105px;
  word-wrap:break-word;
}
#u3814_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3814 {
  position:absolute;
  left:27px;
  top:158px;
  width:29px;
  height:16px;
}
#u3815 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3816_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3816 {
  position:absolute;
  left:97px;
  top:158px;
  width:57px;
  height:16px;
}
#u3817 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3818_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3818 {
  position:absolute;
  left:527px;
  top:158px;
  width:43px;
  height:16px;
}
#u3819 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u3821_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1060px;
  height:109px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u3821 {
  position:absolute;
  left:0px;
  top:31px;
  width:1060px;
  height:109px;
  color:#999999;
}
#u3822 {
  position:absolute;
  left:2px;
  top:46px;
  width:1056px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3823_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:71px;
}
#u3823 {
  position:absolute;
  left:101px;
  top:50px;
  width:68px;
  height:71px;
}
#u3824 {
  position:absolute;
  left:2px;
  top:28px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3825_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3825 {
  position:absolute;
  left:190px;
  top:72px;
  width:65px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3826 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u3827_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:65px;
}
#u3827 {
  position:absolute;
  left:620px;
  top:51px;
  width:400px;
  height:65px;
}
#u3828 {
  position:absolute;
  left:2px;
  top:24px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3829_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1060px;
  height:30px;
  background:inherit;
  background-color:rgba(244, 246, 252, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3829 {
  position:absolute;
  left:0px;
  top:2px;
  width:1060px;
  height:30px;
}
#u3830 {
  position:absolute;
  left:2px;
  top:7px;
  width:1056px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3831 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3832_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u3832 {
  position:absolute;
  left:770px;
  top:9px;
  width:66px;
  height:16px;
  color:#000000;
}
#u3833 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u3834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u3834 {
  position:absolute;
  left:846px;
  top:10px;
  width:29px;
  height:16px;
  font-size:14px;
  color:#000000;
}
#u3835 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3836 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:32px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3837 {
  position:absolute;
  left:870px;
  top:32px;
  width:126px;
  height:32px;
}
#u3838 {
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3839_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3839 {
  position:absolute;
  left:870px;
  top:33px;
  width:126px;
  height:31px;
}
#u3840 {
  position:absolute;
  left:2px;
  top:8px;
  width:122px;
  word-wrap:break-word;
}
#u3841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3841 {
  position:absolute;
  left:904px;
  top:10px;
  width:57px;
  height:22px;
}
#u3842 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3843_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3843 {
  position:absolute;
  left:380px;
  top:74px;
  width:240px;
  height:27px;
}
#u3844 {
  position:absolute;
  left:2px;
  top:6px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3845 {
  position:absolute;
  left:385px;
  top:75px;
  width:230px;
  height:25px;
}
#u3845_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u3846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u3846 {
  position:absolute;
  left:593px;
  top:77px;
  width:22px;
  height:22px;
}
#u3847 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:72px;
}
#u3848 {
  position:absolute;
  left:56px;
  top:49px;
  width:124px;
  height:72px;
}
#u3849 {
  position:absolute;
  left:2px;
  top:28px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3850 {
  position:absolute;
  left:981px;
  top:10px;
  width:71px;
  height:22px;
}
#u3851 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u3852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:137px;
}
#u3852 {
  position:absolute;
  left:922px;
  top:32px;
  width:138px;
  height:137px;
}
#u3853 {
  position:absolute;
  left:2px;
  top:60px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3854_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3854 {
  position:absolute;
  left:197px;
  top:158px;
  width:57px;
  height:16px;
}
#u3855 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3856 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3857_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3857 {
  position:absolute;
  left:307px;
  top:146px;
  width:57px;
  height:40px;
}
#u3858 {
  position:absolute;
  left:0px;
  top:12px;
  width:57px;
  white-space:nowrap;
}
#u3859 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1060px;
  height:109px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u3861 {
  position:absolute;
  left:-1px;
  top:1141px;
  width:1060px;
  height:109px;
  color:#999999;
}
#u3862 {
  position:absolute;
  left:2px;
  top:30px;
  width:1056px;
  word-wrap:break-word;
}
#u3863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1060px;
  height:129px;
}
#u3863 {
  position:absolute;
  left:-1px;
  top:820px;
  width:1060px;
  height:129px;
}
#u3864 {
  position:absolute;
  left:2px;
  top:56px;
  width:1056px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3863_ann {
  position:absolute;
  left:1052px;
  top:816px;
  width:1px;
  height:1px;
}
#u3865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1060px;
  height:183px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3865 {
  position:absolute;
  left:-1px;
  top:954px;
  width:1060px;
  height:183px;
}
#u3866 {
  position:absolute;
  left:2px;
  top:84px;
  width:1056px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3865_ann {
  position:absolute;
  left:1052px;
  top:950px;
  width:1px;
  height:1px;
}
#u3867_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:167px;
}
#u3867 {
  position:absolute;
  left:299px;
  top:962px;
  width:1px;
  height:166px;
}
#u3868 {
  position:absolute;
  left:2px;
  top:75px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3869_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:137px;
}
#u3869 {
  position:absolute;
  left:799px;
  top:988px;
  width:138px;
  height:137px;
}
#u3870 {
  position:absolute;
  left:2px;
  top:60px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:158px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:24px;
}
#u3871 {
  position:absolute;
  left:97px;
  top:954px;
  width:192px;
  height:158px;
  text-align:left;
  line-height:24px;
}
#u3872 {
  position:absolute;
  left:12px;
  top:12px;
  width:178px;
  word-wrap:break-word;
}
#u3873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:158px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:24px;
}
#u3873 {
  position:absolute;
  left:335px;
  top:954px;
  width:191px;
  height:158px;
  text-align:left;
  line-height:24px;
}
#u3874 {
  position:absolute;
  left:12px;
  top:12px;
  width:177px;
  word-wrap:break-word;
}
#u3875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3875 {
  position:absolute;
  left:805px;
  top:967px;
  width:121px;
  height:16px;
}
#u3876 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u3877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:167px;
}
#u3877 {
  position:absolute;
  left:727px;
  top:962px;
  width:1px;
  height:166px;
}
#u3878 {
  position:absolute;
  left:2px;
  top:75px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:167px;
}
#u3879 {
  position:absolute;
  left:500px;
  top:962px;
  width:1px;
  height:166px;
}
#u3880 {
  position:absolute;
  left:2px;
  top:75px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:158px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:24px;
}
#u3881 {
  position:absolute;
  left:535px;
  top:954px;
  width:191px;
  height:158px;
  text-align:left;
  line-height:24px;
}
#u3882 {
  position:absolute;
  left:12px;
  top:12px;
  width:177px;
  word-wrap:break-word;
}
#u3883 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1059px;
  height:573px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u3884 {
  position:absolute;
  left:0px;
  top:217px;
  width:1059px;
  height:573px;
}
#u3885 {
  position:absolute;
  left:2px;
  top:278px;
  width:1055px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:33px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:16px;
  color:#FFFFFF;
}
#u3886 {
  position:absolute;
  left:0px;
  top:192px;
  width:76px;
  height:33px;
  opacity:0.66;
  font-size:16px;
  color:#FFFFFF;
}
#u3887 {
  position:absolute;
  left:3px;
  top:6px;
  width:65px;
  white-space:nowrap;
}
#u3888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1059px;
  height:260px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3888 {
  position:absolute;
  left:0px;
  top:240px;
  width:1059px;
  height:260px;
}
#u3889 {
  position:absolute;
  left:2px;
  top:74px;
  width:1055px;
  word-wrap:break-word;
}
#u3890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:171px;
}
#u3890 {
  position:absolute;
  left:380px;
  top:450px;
  width:300px;
  height:170px;
}
#u3891 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  word-wrap:break-word;
}
