body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1059px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1060px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u3855 {
  position:absolute;
  left:0px;
  top:146px;
  width:1060px;
  height:40px;
}
#u3856 {
  position:absolute;
  left:2px;
  top:12px;
  width:1056px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3857 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3858 {
  position:absolute;
  left:412px;
  top:146px;
  width:57px;
  height:40px;
}
#u3859 {
  position:absolute;
  left:0px;
  top:12px;
  width:57px;
  white-space:nowrap;
}
#u3860 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:124px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  text-align:left;
}
#u3861 {
  position:absolute;
  left:381px;
  top:188px;
  width:105px;
  height:124px;
  text-align:left;
}
#u3862 {
  position:absolute;
  left:5px;
  top:54px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:center;
}
#u3863 {
  position:absolute;
  left:381px;
  top:282px;
  width:105px;
  height:30px;
  color:#666666;
  text-align:center;
}
#u3863_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:center;
}
#u3863.mouseOver {
}
#u3864 {
  position:absolute;
  left:0px;
  top:7px;
  width:105px;
  word-wrap:break-word;
}
#u3865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:center;
}
#u3865 {
  position:absolute;
  left:381px;
  top:252px;
  width:105px;
  height:30px;
  color:#666666;
  text-align:center;
}
#u3865_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:center;
}
#u3865.mouseOver {
}
#u3866 {
  position:absolute;
  left:0px;
  top:7px;
  width:105px;
  word-wrap:break-word;
}
#u3867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:center;
}
#u3867 {
  position:absolute;
  left:381px;
  top:222px;
  width:105px;
  height:30px;
  color:#666666;
  text-align:center;
}
#u3867_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:center;
}
#u3867.mouseOver {
}
#u3868 {
  position:absolute;
  left:0px;
  top:7px;
  width:105px;
  word-wrap:break-word;
}
#u3869_img {
  position:absolute;
  left:-3px;
  top:-4px;
  width:16px;
  height:12px;
}
#u3869 {
  position:absolute;
  left:428px;
  top:182px;
  width:10px;
  height:6px;
}
#u3870 {
  position:absolute;
  left:2px;
  top:-5px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:center;
}
#u3871 {
  position:absolute;
  left:381px;
  top:192px;
  width:105px;
  height:30px;
  color:#666666;
  text-align:center;
}
#u3871_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:center;
}
#u3871.mouseOver {
}
#u3872 {
  position:absolute;
  left:0px;
  top:7px;
  width:105px;
  word-wrap:break-word;
}
#u3873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3873 {
  position:absolute;
  left:27px;
  top:158px;
  width:29px;
  height:16px;
}
#u3874 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3875 {
  position:absolute;
  left:97px;
  top:158px;
  width:57px;
  height:16px;
}
#u3876 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3877 {
  position:absolute;
  left:527px;
  top:158px;
  width:43px;
  height:16px;
}
#u3878 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u3880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1060px;
  height:109px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u3880 {
  position:absolute;
  left:0px;
  top:31px;
  width:1060px;
  height:109px;
  color:#999999;
}
#u3881 {
  position:absolute;
  left:2px;
  top:46px;
  width:1056px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:71px;
}
#u3882 {
  position:absolute;
  left:101px;
  top:50px;
  width:68px;
  height:71px;
}
#u3883 {
  position:absolute;
  left:2px;
  top:28px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3884 {
  position:absolute;
  left:190px;
  top:72px;
  width:65px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3885 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u3886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:65px;
}
#u3886 {
  position:absolute;
  left:620px;
  top:51px;
  width:400px;
  height:65px;
}
#u3887 {
  position:absolute;
  left:2px;
  top:24px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1060px;
  height:30px;
  background:inherit;
  background-color:rgba(244, 246, 252, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3888 {
  position:absolute;
  left:0px;
  top:2px;
  width:1060px;
  height:30px;
}
#u3889 {
  position:absolute;
  left:2px;
  top:7px;
  width:1056px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3890 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u3891 {
  position:absolute;
  left:770px;
  top:9px;
  width:66px;
  height:16px;
  color:#000000;
}
#u3892 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u3893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u3893 {
  position:absolute;
  left:846px;
  top:10px;
  width:29px;
  height:16px;
  font-size:14px;
  color:#000000;
}
#u3894 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3895 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:32px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3896 {
  position:absolute;
  left:870px;
  top:32px;
  width:126px;
  height:32px;
}
#u3897 {
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3898 {
  position:absolute;
  left:870px;
  top:33px;
  width:126px;
  height:31px;
}
#u3899 {
  position:absolute;
  left:2px;
  top:8px;
  width:122px;
  word-wrap:break-word;
}
#u3900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3900 {
  position:absolute;
  left:904px;
  top:10px;
  width:57px;
  height:22px;
}
#u3901 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3902 {
  position:absolute;
  left:380px;
  top:74px;
  width:240px;
  height:27px;
}
#u3903 {
  position:absolute;
  left:2px;
  top:6px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3904 {
  position:absolute;
  left:385px;
  top:75px;
  width:230px;
  height:25px;
}
#u3904_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u3905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u3905 {
  position:absolute;
  left:593px;
  top:77px;
  width:22px;
  height:22px;
}
#u3906 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:72px;
}
#u3907 {
  position:absolute;
  left:56px;
  top:49px;
  width:124px;
  height:72px;
}
#u3908 {
  position:absolute;
  left:2px;
  top:28px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3909 {
  position:absolute;
  left:981px;
  top:10px;
  width:71px;
  height:22px;
}
#u3910 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u3911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:137px;
}
#u3911 {
  position:absolute;
  left:922px;
  top:32px;
  width:138px;
  height:137px;
}
#u3912 {
  position:absolute;
  left:2px;
  top:60px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3913 {
  position:absolute;
  left:197px;
  top:158px;
  width:57px;
  height:16px;
}
#u3914 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3915 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3916 {
  position:absolute;
  left:307px;
  top:146px;
  width:57px;
  height:40px;
}
#u3917 {
  position:absolute;
  left:0px;
  top:12px;
  width:57px;
  white-space:nowrap;
}
#u3918 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1060px;
  height:109px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u3920 {
  position:absolute;
  left:-1px;
  top:1141px;
  width:1060px;
  height:109px;
  color:#999999;
}
#u3921 {
  position:absolute;
  left:2px;
  top:30px;
  width:1056px;
  word-wrap:break-word;
}
#u3922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1060px;
  height:129px;
}
#u3922 {
  position:absolute;
  left:-1px;
  top:820px;
  width:1060px;
  height:129px;
}
#u3923 {
  position:absolute;
  left:2px;
  top:56px;
  width:1056px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3922_ann {
  position:absolute;
  left:1052px;
  top:816px;
  width:1px;
  height:1px;
}
#u3924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1060px;
  height:183px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3924 {
  position:absolute;
  left:-1px;
  top:954px;
  width:1060px;
  height:183px;
}
#u3925 {
  position:absolute;
  left:2px;
  top:84px;
  width:1056px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3924_ann {
  position:absolute;
  left:1052px;
  top:950px;
  width:1px;
  height:1px;
}
#u3926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:167px;
}
#u3926 {
  position:absolute;
  left:299px;
  top:962px;
  width:1px;
  height:166px;
}
#u3927 {
  position:absolute;
  left:2px;
  top:75px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:137px;
}
#u3928 {
  position:absolute;
  left:799px;
  top:988px;
  width:138px;
  height:137px;
}
#u3929 {
  position:absolute;
  left:2px;
  top:60px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:158px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:24px;
}
#u3930 {
  position:absolute;
  left:97px;
  top:954px;
  width:192px;
  height:158px;
  text-align:left;
  line-height:24px;
}
#u3931 {
  position:absolute;
  left:12px;
  top:12px;
  width:178px;
  word-wrap:break-word;
}
#u3932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:158px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:24px;
}
#u3932 {
  position:absolute;
  left:335px;
  top:954px;
  width:191px;
  height:158px;
  text-align:left;
  line-height:24px;
}
#u3933 {
  position:absolute;
  left:12px;
  top:12px;
  width:177px;
  word-wrap:break-word;
}
#u3934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3934 {
  position:absolute;
  left:805px;
  top:967px;
  width:121px;
  height:16px;
}
#u3935 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u3936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:167px;
}
#u3936 {
  position:absolute;
  left:727px;
  top:962px;
  width:1px;
  height:166px;
}
#u3937 {
  position:absolute;
  left:2px;
  top:75px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:167px;
}
#u3938 {
  position:absolute;
  left:500px;
  top:962px;
  width:1px;
  height:166px;
}
#u3939 {
  position:absolute;
  left:2px;
  top:75px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:158px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:24px;
}
#u3940 {
  position:absolute;
  left:535px;
  top:954px;
  width:191px;
  height:158px;
  text-align:left;
  line-height:24px;
}
#u3941 {
  position:absolute;
  left:12px;
  top:12px;
  width:177px;
  word-wrap:break-word;
}
#u3942 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1059px;
  height:573px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u3943 {
  position:absolute;
  left:0px;
  top:217px;
  width:1059px;
  height:573px;
}
#u3944 {
  position:absolute;
  left:2px;
  top:278px;
  width:1055px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:33px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:16px;
  color:#FFFFFF;
}
#u3945 {
  position:absolute;
  left:0px;
  top:192px;
  width:76px;
  height:33px;
  opacity:0.66;
  font-size:16px;
  color:#FFFFFF;
}
#u3946 {
  position:absolute;
  left:3px;
  top:6px;
  width:65px;
  white-space:nowrap;
}
#u3947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1059px;
  height:260px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3947 {
  position:absolute;
  left:0px;
  top:240px;
  width:1059px;
  height:260px;
}
#u3948 {
  position:absolute;
  left:2px;
  top:74px;
  width:1055px;
  word-wrap:break-word;
}
#u3949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:171px;
}
#u3949 {
  position:absolute;
  left:380px;
  top:450px;
  width:300px;
  height:170px;
}
#u3950 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  word-wrap:break-word;
}
