body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1059px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3228_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1060px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u3228 {
  position:absolute;
  left:0px;
  top:146px;
  width:1060px;
  height:40px;
}
#u3229 {
  position:absolute;
  left:2px;
  top:12px;
  width:1056px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3230 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3231_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3231 {
  position:absolute;
  left:412px;
  top:146px;
  width:57px;
  height:40px;
}
#u3232 {
  position:absolute;
  left:0px;
  top:12px;
  width:57px;
  white-space:nowrap;
}
#u3233 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3234_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:124px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  text-align:left;
}
#u3234 {
  position:absolute;
  left:381px;
  top:188px;
  width:105px;
  height:124px;
  text-align:left;
}
#u3235 {
  position:absolute;
  left:5px;
  top:54px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3236_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:center;
}
#u3236 {
  position:absolute;
  left:381px;
  top:282px;
  width:105px;
  height:30px;
  color:#666666;
  text-align:center;
}
#u3236_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:center;
}
#u3236.mouseOver {
}
#u3237 {
  position:absolute;
  left:0px;
  top:7px;
  width:105px;
  word-wrap:break-word;
}
#u3238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:center;
}
#u3238 {
  position:absolute;
  left:381px;
  top:252px;
  width:105px;
  height:30px;
  color:#666666;
  text-align:center;
}
#u3238_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:center;
}
#u3238.mouseOver {
}
#u3239 {
  position:absolute;
  left:0px;
  top:7px;
  width:105px;
  word-wrap:break-word;
}
#u3240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:center;
}
#u3240 {
  position:absolute;
  left:381px;
  top:222px;
  width:105px;
  height:30px;
  color:#666666;
  text-align:center;
}
#u3240_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:center;
}
#u3240.mouseOver {
}
#u3241 {
  position:absolute;
  left:0px;
  top:7px;
  width:105px;
  word-wrap:break-word;
}
#u3242_img {
  position:absolute;
  left:-3px;
  top:-4px;
  width:16px;
  height:12px;
}
#u3242 {
  position:absolute;
  left:428px;
  top:182px;
  width:10px;
  height:6px;
}
#u3243 {
  position:absolute;
  left:2px;
  top:-5px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3244_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:center;
}
#u3244 {
  position:absolute;
  left:381px;
  top:192px;
  width:105px;
  height:30px;
  color:#666666;
  text-align:center;
}
#u3244_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:center;
}
#u3244.mouseOver {
}
#u3245 {
  position:absolute;
  left:0px;
  top:7px;
  width:105px;
  word-wrap:break-word;
}
#u3246_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3246 {
  position:absolute;
  left:27px;
  top:158px;
  width:29px;
  height:16px;
}
#u3247 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3248 {
  position:absolute;
  left:97px;
  top:158px;
  width:57px;
  height:16px;
}
#u3249 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3250 {
  position:absolute;
  left:527px;
  top:158px;
  width:43px;
  height:16px;
}
#u3251 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u3253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1060px;
  height:109px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u3253 {
  position:absolute;
  left:0px;
  top:31px;
  width:1060px;
  height:109px;
  color:#999999;
}
#u3254 {
  position:absolute;
  left:2px;
  top:46px;
  width:1056px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:71px;
}
#u3255 {
  position:absolute;
  left:101px;
  top:50px;
  width:68px;
  height:71px;
}
#u3256 {
  position:absolute;
  left:2px;
  top:28px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3257_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3257 {
  position:absolute;
  left:190px;
  top:72px;
  width:65px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3258 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u3259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:65px;
}
#u3259 {
  position:absolute;
  left:620px;
  top:51px;
  width:400px;
  height:65px;
}
#u3260 {
  position:absolute;
  left:2px;
  top:24px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3261_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1060px;
  height:30px;
  background:inherit;
  background-color:rgba(244, 246, 252, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3261 {
  position:absolute;
  left:0px;
  top:2px;
  width:1060px;
  height:30px;
}
#u3262 {
  position:absolute;
  left:2px;
  top:7px;
  width:1056px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3263 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3264_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u3264 {
  position:absolute;
  left:770px;
  top:9px;
  width:66px;
  height:16px;
  color:#000000;
}
#u3265 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u3266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u3266 {
  position:absolute;
  left:846px;
  top:10px;
  width:29px;
  height:16px;
  font-size:14px;
  color:#000000;
}
#u3267 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3268 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3269_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:32px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3269 {
  position:absolute;
  left:870px;
  top:32px;
  width:126px;
  height:32px;
}
#u3270 {
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3271_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3271 {
  position:absolute;
  left:870px;
  top:33px;
  width:126px;
  height:31px;
}
#u3272 {
  position:absolute;
  left:2px;
  top:8px;
  width:122px;
  word-wrap:break-word;
}
#u3273_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3273 {
  position:absolute;
  left:904px;
  top:10px;
  width:57px;
  height:22px;
}
#u3274 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3275_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3275 {
  position:absolute;
  left:380px;
  top:74px;
  width:240px;
  height:27px;
}
#u3276 {
  position:absolute;
  left:2px;
  top:6px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3277 {
  position:absolute;
  left:385px;
  top:75px;
  width:230px;
  height:25px;
}
#u3277_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u3278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u3278 {
  position:absolute;
  left:593px;
  top:77px;
  width:22px;
  height:22px;
}
#u3279 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3280_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:72px;
}
#u3280 {
  position:absolute;
  left:56px;
  top:49px;
  width:124px;
  height:72px;
}
#u3281 {
  position:absolute;
  left:2px;
  top:28px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3282_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3282 {
  position:absolute;
  left:981px;
  top:10px;
  width:71px;
  height:22px;
}
#u3283 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u3284_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:137px;
}
#u3284 {
  position:absolute;
  left:922px;
  top:32px;
  width:138px;
  height:137px;
}
#u3285 {
  position:absolute;
  left:2px;
  top:60px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3286_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3286 {
  position:absolute;
  left:197px;
  top:158px;
  width:57px;
  height:16px;
}
#u3287 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3288 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3289_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3289 {
  position:absolute;
  left:307px;
  top:146px;
  width:57px;
  height:40px;
}
#u3290 {
  position:absolute;
  left:0px;
  top:12px;
  width:57px;
  white-space:nowrap;
}
#u3291 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3293_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1060px;
  height:109px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u3293 {
  position:absolute;
  left:-1px;
  top:1141px;
  width:1060px;
  height:109px;
  color:#999999;
}
#u3294 {
  position:absolute;
  left:2px;
  top:30px;
  width:1056px;
  word-wrap:break-word;
}
#u3295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1060px;
  height:129px;
}
#u3295 {
  position:absolute;
  left:-1px;
  top:820px;
  width:1060px;
  height:129px;
}
#u3296 {
  position:absolute;
  left:2px;
  top:56px;
  width:1056px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3295_ann {
  position:absolute;
  left:1052px;
  top:816px;
  width:1px;
  height:1px;
}
#u3297_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1060px;
  height:183px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3297 {
  position:absolute;
  left:-1px;
  top:954px;
  width:1060px;
  height:183px;
}
#u3298 {
  position:absolute;
  left:2px;
  top:84px;
  width:1056px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3297_ann {
  position:absolute;
  left:1052px;
  top:950px;
  width:1px;
  height:1px;
}
#u3299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:167px;
}
#u3299 {
  position:absolute;
  left:299px;
  top:962px;
  width:1px;
  height:166px;
}
#u3300 {
  position:absolute;
  left:2px;
  top:75px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3301_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:137px;
}
#u3301 {
  position:absolute;
  left:799px;
  top:988px;
  width:138px;
  height:137px;
}
#u3302 {
  position:absolute;
  left:2px;
  top:60px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3303_div {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:158px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:24px;
}
#u3303 {
  position:absolute;
  left:97px;
  top:954px;
  width:192px;
  height:158px;
  text-align:left;
  line-height:24px;
}
#u3304 {
  position:absolute;
  left:12px;
  top:12px;
  width:178px;
  word-wrap:break-word;
}
#u3305_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:158px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:24px;
}
#u3305 {
  position:absolute;
  left:335px;
  top:954px;
  width:191px;
  height:158px;
  text-align:left;
  line-height:24px;
}
#u3306 {
  position:absolute;
  left:12px;
  top:12px;
  width:177px;
  word-wrap:break-word;
}
#u3307_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3307 {
  position:absolute;
  left:805px;
  top:967px;
  width:121px;
  height:16px;
}
#u3308 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u3309_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:167px;
}
#u3309 {
  position:absolute;
  left:727px;
  top:962px;
  width:1px;
  height:166px;
}
#u3310 {
  position:absolute;
  left:2px;
  top:75px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3311_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:167px;
}
#u3311 {
  position:absolute;
  left:500px;
  top:962px;
  width:1px;
  height:166px;
}
#u3312 {
  position:absolute;
  left:2px;
  top:75px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3313_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:158px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:24px;
}
#u3313 {
  position:absolute;
  left:535px;
  top:954px;
  width:191px;
  height:158px;
  text-align:left;
  line-height:24px;
}
#u3314 {
  position:absolute;
  left:12px;
  top:12px;
  width:177px;
  word-wrap:break-word;
}
#u3315 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3316_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1059px;
  height:573px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u3316 {
  position:absolute;
  left:0px;
  top:217px;
  width:1059px;
  height:573px;
}
#u3317 {
  position:absolute;
  left:2px;
  top:278px;
  width:1055px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3318_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:33px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:16px;
  color:#FFFFFF;
}
#u3318 {
  position:absolute;
  left:0px;
  top:192px;
  width:76px;
  height:33px;
  opacity:0.66;
  font-size:16px;
  color:#FFFFFF;
}
#u3319 {
  position:absolute;
  left:3px;
  top:6px;
  width:65px;
  white-space:nowrap;
}
#u3320_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1059px;
  height:260px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3320 {
  position:absolute;
  left:0px;
  top:240px;
  width:1059px;
  height:260px;
}
#u3321 {
  position:absolute;
  left:2px;
  top:122px;
  width:1055px;
  word-wrap:break-word;
}
