body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1090px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:281px;
}
#u4104 {
  position:absolute;
  left:0px;
  top:190px;
  width:420px;
  height:280px;
}
#u4105 {
  position:absolute;
  left:6px;
  top:132px;
  width:412px;
  word-wrap:break-word;
}
#u4106 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:630px;
  height:280px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u4107 {
  position:absolute;
  left:430px;
  top:190px;
  width:630px;
  height:280px;
  opacity:0.6;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u4108 {
  position:absolute;
  left:6px;
  top:2px;
  width:622px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4107_ann {
  position:absolute;
  left:1053px;
  top:186px;
  width:1px;
  height:1px;
}
#u4109 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4110_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u4110 {
  position:absolute;
  left:509px;
  top:300px;
  width:82px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u4111 {
  position:absolute;
  left:2px;
  top:10px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4112 {
  position:absolute;
  left:512px;
  top:302px;
  width:78px;
  height:34px;
}
#u4112_input {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u4113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-left:0px;
  border-radius:3px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u4113 {
  position:absolute;
  left:592px;
  top:300px;
  width:48px;
  height:37px;
  color:#000000;
}
#u4114 {
  position:absolute;
  left:2px;
  top:10px;
  width:44px;
  word-wrap:break-word;
}
#u4115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-right:0px;
  border-radius:3px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u4115 {
  position:absolute;
  left:461px;
  top:300px;
  width:48px;
  height:37px;
  color:#000000;
}
#u4116 {
  position:absolute;
  left:2px;
  top:10px;
  width:44px;
  word-wrap:break-word;
}
#u4117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:49px;
}
#u4117 {
  position:absolute;
  left:451px;
  top:253px;
  width:259px;
  height:49px;
  font-size:26px;
}
#u4118 {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  word-wrap:break-word;
}
#u4119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4119 {
  position:absolute;
  left:650px;
  top:321px;
  width:134px;
  height:16px;
}
#u4120 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u4121 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:51px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
  text-align:right;
}
#u4122 {
  position:absolute;
  left:975px;
  top:343px;
  width:85px;
  height:51px;
  font-size:25px;
  text-align:right;
}
#u4123 {
  position:absolute;
  left:2px;
  top:11px;
  width:81px;
  word-wrap:break-word;
}
#u4124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:21px;
}
#u4124 {
  position:absolute;
  left:797px;
  top:343px;
  width:170px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:21px;
}
#u4125 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u4124_ann {
  position:absolute;
  left:960px;
  top:339px;
  width:1px;
  height:1px;
}
#u4126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:21px;
}
#u4126 {
  position:absolute;
  left:620px;
  top:369px;
  width:355px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:21px;
}
#u4127 {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  word-wrap:break-word;
}
#u4126_ann {
  position:absolute;
  left:968px;
  top:365px;
  width:1px;
  height:1px;
}
#u4128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:51px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
  text-align:right;
}
#u4128 {
  position:absolute;
  left:977px;
  top:404px;
  width:83px;
  height:51px;
  font-size:25px;
  text-align:right;
}
#u4129 {
  position:absolute;
  left:2px;
  top:11px;
  width:79px;
  word-wrap:break-word;
}
#u4130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:21px;
}
#u4130 {
  position:absolute;
  left:797px;
  top:404px;
  width:170px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:21px;
}
#u4131 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u4130_ann {
  position:absolute;
  left:960px;
  top:400px;
  width:1px;
  height:1px;
}
#u4132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:21px;
}
#u4132 {
  position:absolute;
  left:620px;
  top:430px;
  width:355px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:21px;
}
#u4133 {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  word-wrap:break-word;
}
#u4132_ann {
  position:absolute;
  left:968px;
  top:426px;
  width:1px;
  height:1px;
}
#u4134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:49px;
}
#u4134 {
  position:absolute;
  left:722px;
  top:253px;
  width:345px;
  height:49px;
  font-size:26px;
}
#u4135 {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  word-wrap:break-word;
}
#u4136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u4136 {
  position:absolute;
  left:870px;
  top:536px;
  width:190px;
  height:30px;
  text-align:right;
}
#u4137 {
  position:absolute;
  left:2px;
  top:7px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1060px;
  height:109px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u4139 {
  position:absolute;
  left:0px;
  top:971px;
  width:1060px;
  height:109px;
  color:#999999;
}
#u4140 {
  position:absolute;
  left:2px;
  top:30px;
  width:1056px;
  word-wrap:break-word;
}
#u4141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1060px;
  height:129px;
}
#u4141 {
  position:absolute;
  left:0px;
  top:650px;
  width:1060px;
  height:129px;
}
#u4142 {
  position:absolute;
  left:2px;
  top:56px;
  width:1056px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4141_ann {
  position:absolute;
  left:1053px;
  top:646px;
  width:1px;
  height:1px;
}
#u4143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1060px;
  height:183px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4143 {
  position:absolute;
  left:0px;
  top:784px;
  width:1060px;
  height:183px;
}
#u4144 {
  position:absolute;
  left:2px;
  top:84px;
  width:1056px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4143_ann {
  position:absolute;
  left:1053px;
  top:780px;
  width:1px;
  height:1px;
}
#u4145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:167px;
}
#u4145 {
  position:absolute;
  left:300px;
  top:792px;
  width:1px;
  height:166px;
}
#u4146 {
  position:absolute;
  left:2px;
  top:75px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:137px;
}
#u4147 {
  position:absolute;
  left:800px;
  top:818px;
  width:138px;
  height:137px;
}
#u4148 {
  position:absolute;
  left:2px;
  top:60px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:158px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:24px;
}
#u4149 {
  position:absolute;
  left:98px;
  top:784px;
  width:192px;
  height:158px;
  text-align:left;
  line-height:24px;
}
#u4150 {
  position:absolute;
  left:12px;
  top:12px;
  width:178px;
  word-wrap:break-word;
}
#u4151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:158px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:24px;
}
#u4151 {
  position:absolute;
  left:336px;
  top:784px;
  width:191px;
  height:158px;
  text-align:left;
  line-height:24px;
}
#u4152 {
  position:absolute;
  left:12px;
  top:12px;
  width:177px;
  word-wrap:break-word;
}
#u4153_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4153 {
  position:absolute;
  left:806px;
  top:797px;
  width:121px;
  height:16px;
}
#u4154 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u4155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:167px;
}
#u4155 {
  position:absolute;
  left:728px;
  top:792px;
  width:1px;
  height:166px;
}
#u4156 {
  position:absolute;
  left:2px;
  top:75px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:167px;
}
#u4157 {
  position:absolute;
  left:501px;
  top:792px;
  width:1px;
  height:166px;
}
#u4158 {
  position:absolute;
  left:2px;
  top:75px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4159_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:158px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:24px;
}
#u4159 {
  position:absolute;
  left:536px;
  top:784px;
  width:191px;
  height:158px;
  text-align:left;
  line-height:24px;
}
#u4160 {
  position:absolute;
  left:12px;
  top:12px;
  width:177px;
  word-wrap:break-word;
}
#u4161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4161 {
  position:absolute;
  left:0px;
  top:150px;
  width:200px;
  height:30px;
}
#u4162 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u4163_div {
  position:absolute;
  left:0px;
  top:0px;
  width:630px;
  height:30px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u4163 {
  position:absolute;
  left:430px;
  top:490px;
  width:630px;
  height:30px;
  text-align:right;
}
#u4164 {
  position:absolute;
  left:2px;
  top:7px;
  width:626px;
  word-wrap:break-word;
}
#u4165_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u4165 {
  position:absolute;
  left:740px;
  top:536px;
  width:120px;
  height:30px;
  text-align:right;
}
#u4166 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u4167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u4167 {
  position:absolute;
  left:874px;
  top:540px;
  width:53px;
  height:22px;
}
#u4167_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:22px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u4167.selected {
}
#u4168 {
  position:absolute;
  left:2px;
  top:3px;
  width:49px;
  word-wrap:break-word;
}
#u4169 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4170_div {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:30px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u4170 {
  position:absolute;
  left:560px;
  top:580px;
  width:500px;
  height:30px;
  text-align:right;
}
#u4171 {
  position:absolute;
  left:2px;
  top:7px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u4172 {
  position:absolute;
  left:430px;
  top:580px;
  width:120px;
  height:30px;
  text-align:right;
}
#u4173 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u4174_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u4174 {
  position:absolute;
  left:626px;
  top:584px;
  width:53px;
  height:22px;
}
#u4174_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:22px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u4174.selected {
}
#u4175 {
  position:absolute;
  left:2px;
  top:3px;
  width:49px;
  word-wrap:break-word;
}
#u4176_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u4176 {
  position:absolute;
  left:689px;
  top:584px;
  width:53px;
  height:22px;
}
#u4176_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:22px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u4176.selected {
}
#u4177 {
  position:absolute;
  left:2px;
  top:3px;
  width:49px;
  word-wrap:break-word;
}
#u4178_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u4178 {
  position:absolute;
  left:752px;
  top:584px;
  width:53px;
  height:22px;
}
#u4178_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:22px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u4178.selected {
}
#u4179 {
  position:absolute;
  left:2px;
  top:3px;
  width:49px;
  word-wrap:break-word;
}
#u4180_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:30px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u4180 {
  position:absolute;
  left:680px;
  top:621px;
  width:380px;
  height:30px;
  text-align:right;
}
#u4181 {
  position:absolute;
  left:2px;
  top:7px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u4182 {
  position:absolute;
  left:814px;
  top:584px;
  width:53px;
  height:22px;
}
#u4182_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:22px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u4182.selected {
}
#u4183 {
  position:absolute;
  left:2px;
  top:3px;
  width:49px;
  word-wrap:break-word;
}
#u4184_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u4184 {
  position:absolute;
  left:877px;
  top:584px;
  width:53px;
  height:22px;
}
#u4184_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:22px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u4184.selected {
}
#u4185 {
  position:absolute;
  left:2px;
  top:3px;
  width:49px;
  word-wrap:break-word;
}
#u4186_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u4186 {
  position:absolute;
  left:940px;
  top:584px;
  width:53px;
  height:22px;
}
#u4186_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:22px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u4186.selected {
}
#u4187 {
  position:absolute;
  left:2px;
  top:3px;
  width:49px;
  word-wrap:break-word;
}
#u4188_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u4188 {
  position:absolute;
  left:1002px;
  top:584px;
  width:53px;
  height:22px;
}
#u4188_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:22px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u4188.selected {
}
#u4189 {
  position:absolute;
  left:2px;
  top:3px;
  width:49px;
  word-wrap:break-word;
}
#u4190_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u4190 {
  position:absolute;
  left:564px;
  top:584px;
  width:53px;
  height:22px;
}
#u4190_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:22px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u4190.selected {
}
#u4191 {
  position:absolute;
  left:2px;
  top:3px;
  width:49px;
  word-wrap:break-word;
}
#u4192_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u4192 {
  position:absolute;
  left:752px;
  top:625px;
  width:53px;
  height:22px;
}
#u4192_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:22px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u4192.selected {
}
#u4193 {
  position:absolute;
  left:2px;
  top:3px;
  width:49px;
  word-wrap:break-word;
}
#u4194_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u4194 {
  position:absolute;
  left:814px;
  top:625px;
  width:53px;
  height:22px;
}
#u4194_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:22px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u4194.selected {
}
#u4195 {
  position:absolute;
  left:2px;
  top:3px;
  width:49px;
  word-wrap:break-word;
}
#u4196_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u4196 {
  position:absolute;
  left:877px;
  top:625px;
  width:53px;
  height:22px;
}
#u4196_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:22px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u4196.selected {
}
#u4197 {
  position:absolute;
  left:2px;
  top:3px;
  width:49px;
  word-wrap:break-word;
}
#u4198_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u4198 {
  position:absolute;
  left:940px;
  top:625px;
  width:53px;
  height:22px;
}
#u4198_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:22px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u4198.selected {
}
#u4199 {
  position:absolute;
  left:2px;
  top:3px;
  width:49px;
  word-wrap:break-word;
}
#u4200_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u4200 {
  position:absolute;
  left:1002px;
  top:625px;
  width:53px;
  height:22px;
}
#u4200_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:22px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u4200.selected {
}
#u4201 {
  position:absolute;
  left:2px;
  top:3px;
  width:49px;
  word-wrap:break-word;
}
#u4202_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u4202 {
  position:absolute;
  left:936px;
  top:540px;
  width:53px;
  height:22px;
}
#u4202_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:22px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u4202.selected {
}
#u4203 {
  position:absolute;
  left:2px;
  top:3px;
  width:49px;
  word-wrap:break-word;
}
#u4204_div {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u4204 {
  position:absolute;
  left:884px;
  top:590px;
  width:176px;
  height:40px;
}
#u4204_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u4204.mouseOver {
}
#u4204_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u4204.mouseDown {
}
#u4204_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u4204.selected {
}
#u4205 {
  position:absolute;
  left:2px;
  top:12px;
  width:172px;
  word-wrap:break-word;
}
#u4207_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1060px;
  height:109px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u4207 {
  position:absolute;
  left:0px;
  top:29px;
  width:1060px;
  height:109px;
  color:#999999;
}
#u4208 {
  position:absolute;
  left:2px;
  top:46px;
  width:1056px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:71px;
}
#u4209 {
  position:absolute;
  left:101px;
  top:48px;
  width:68px;
  height:71px;
}
#u4210 {
  position:absolute;
  left:2px;
  top:28px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4211 {
  position:absolute;
  left:190px;
  top:70px;
  width:65px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4212 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:65px;
}
#u4213 {
  position:absolute;
  left:620px;
  top:49px;
  width:400px;
  height:65px;
}
#u4214 {
  position:absolute;
  left:2px;
  top:24px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4215_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1060px;
  height:30px;
  background:inherit;
  background-color:rgba(244, 246, 252, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4215 {
  position:absolute;
  left:0px;
  top:0px;
  width:1060px;
  height:30px;
}
#u4216 {
  position:absolute;
  left:2px;
  top:7px;
  width:1056px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4217 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4218_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u4218 {
  position:absolute;
  left:770px;
  top:7px;
  width:66px;
  height:16px;
  color:#000000;
}
#u4219 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u4220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u4220 {
  position:absolute;
  left:846px;
  top:8px;
  width:29px;
  height:16px;
  font-size:14px;
  color:#000000;
}
#u4221 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4222 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4223_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:32px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4223 {
  position:absolute;
  left:870px;
  top:30px;
  width:126px;
  height:32px;
}
#u4224 {
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4225 {
  position:absolute;
  left:870px;
  top:31px;
  width:126px;
  height:31px;
}
#u4226 {
  position:absolute;
  left:2px;
  top:8px;
  width:122px;
  word-wrap:break-word;
}
#u4227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4227 {
  position:absolute;
  left:904px;
  top:8px;
  width:57px;
  height:22px;
}
#u4228 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4229 {
  position:absolute;
  left:380px;
  top:72px;
  width:240px;
  height:27px;
}
#u4230 {
  position:absolute;
  left:2px;
  top:6px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4231 {
  position:absolute;
  left:385px;
  top:73px;
  width:230px;
  height:25px;
}
#u4231_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u4232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u4232 {
  position:absolute;
  left:593px;
  top:75px;
  width:22px;
  height:22px;
}
#u4233 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:72px;
}
#u4234 {
  position:absolute;
  left:56px;
  top:47px;
  width:124px;
  height:72px;
}
#u4235 {
  position:absolute;
  left:2px;
  top:28px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4236_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4236 {
  position:absolute;
  left:981px;
  top:8px;
  width:71px;
  height:22px;
}
#u4237 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u4238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:137px;
}
#u4238 {
  position:absolute;
  left:922px;
  top:30px;
  width:138px;
  height:137px;
}
#u4239 {
  position:absolute;
  left:2px;
  top:60px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  height:49px;
}
#u4240 {
  position:absolute;
  left:453px;
  top:196px;
  width:477px;
  height:49px;
}
#u4241 {
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  word-wrap:break-word;
}
#u4242 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4243_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4243 {
  position:absolute;
  left:1036px;
  top:497px;
  width:20px;
  height:20px;
}
#u4244 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4245_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4245 {
  position:absolute;
  left:1041px;
  top:502px;
  width:10px;
  height:10px;
}
#u4246 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4247_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4247 {
  position:absolute;
  left:1061px;
  top:499px;
  width:29px;
  height:16px;
}
#u4248 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  visibility:hidden;
  white-space:nowrap;
}
#u4249_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u4249 {
  position:absolute;
  left:998px;
  top:540px;
  width:53px;
  height:22px;
}
#u4249_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:22px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u4249.selected {
}
#u4250 {
  position:absolute;
  left:2px;
  top:3px;
  width:49px;
  word-wrap:break-word;
}
